.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: rgba(120, 124, 87, 1);
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-top: 100px;
  margin-bottom: 60px;
  color: rgba(50, 58, 33, 1);
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: rgba(219, 207, 188, 1);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 20px;
  height: 10px;
  background: url("../img/Ellipse\ 1.svg") no-repeat center;
  position: absolute;
  top: 20px;
  left: -70px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: rgba(120, 124, 87, 1);
  font-size: 0.875rem;
}
.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: rgba(50, 58, 33, 1);
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: rgba(239, 235, 233, 1);
  padding: 5px 5px;
}

@media (max-width: 1000px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia-texto {
    margin-top: 0px;
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
